.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.getStarted {
  /* height: 400px;
  width: 400px; */
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  margin-top: 100px;
  border-radius: 12px;
  padding: 30px;
  aspect-ratio: 1;
}

.getStarted__sectext,
.getStarted__header {
  margin: 0;
}

.getStarted__inputcontainer--Lecturer,
.getStarted__inputcontainer--Student {
  border-radius: 12px;
  border: 1px solid #deeaf7;
  width: 80%;
  padding: 16px 32px;
  /* height: 50px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

#LecturerAccountInput,
#StudentAccountInput {
  width: auto;
}

.getStarted__proceedbtn {
  height: 48px;
  width: 143px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.no-underline {
  text-decoration: none;
}

.footer {
  width: 100%;
  display: flex;
  padding: 0 64px;
  justify-content: space-between;
  align-items: center;
}
