body {
  font-family: "Inter";
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.crr-main-body {
  margin-top: 80px;
  background-color: #ffffff;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  gap: 32px;
  height: calc(100vh - 80px);
}

.picturediv {
  width: 320px;
  height: 100%;
  background-color: #deeaf7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.picturediv img {
  width: 240px;
}

.zeroreq {
  display: flex;
  background-color: #04294e;
  border-radius: 12px;
  padding: 24px 32px;
  justify-content: space-between;
  gap: 30px;
}

.zeroreq__padlockimg img {
  width: 240px;
}

.zeroreq__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 436px;
  color: #ffffff;
}

.zeroreq__description--maintext {
  font-size: 24px;
  font-weight: 700;
}

.zeroreq__description--subtext {
  font-size: 16px;
  font-weight: 500;
}

.zeroreq__description--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
}

.createrecreq__div1--dropdown {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.createrecreq__div1,
.createrecreq__div2,
.createrecreq__div3 {
  height: 100%;
  padding: 32px 16px 0 16px;
  border-top: 1px solid #0a66c2;
  position: relative;
  width: 100%;
}

.createrecreq__div1 {
  padding-left: 0;
}

.createrecreq__div2 {
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.createrecreq__div3 {
  padding-right: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.createrecreq__div2.empty,
.createrecreq__div3.empty {
  border-top: none;
  background-image: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" width='100%' height='4' viewBox='0 0 15 5'><rect width='5' height='2' fill='%23e7e7e7'/></svg>");
  background-repeat: repeat-x;
}

.cornercircle {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #0a66c2;
  border-radius: 50%;
  top: -6px;
  left: -6px;
}

.circleinactive {
  background-color: #e7e7e7;
}

.edu-record {
  width: 100%;
}
.createrecreq__process {
  display: flex;
  width: 900px;
}

.createrecreq__listdiv {
  height: auto;
  overflow-y: auto;
  width: 100%;
}

.createrecreq__listdiv ul {
  padding: 0;
}

.createrecreq__list {
  width: 100%;
  /* padding: 12px; */
  box-sizing: border-box;
}

.createrecreq--header {
  font-weight: 600;
  font-size: 16px;
}

.createrecreq__div1--btn,
.createrecreq__div2--btn,
.createrecreq__div3--btn {
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  /* padding: 12px 24px; */
  margin-top: 16px;
}

.createrecreq--form {
  display: flex;
  flex-direction: column;
}

.createrecreq--form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* lecturer list */
.lecturerlist--div ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* width: 100%; */
}

.createrecreq__secheader {
  font-size: 14px;
  font-weight: 500;
}

.lecturerlist {
  /* width: auto; */
  text-wrap: nowrap;
  background-color: #f6f6f6;
  border: 1px solid #e7e7e7;
  padding: 12px 16px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.lecturerlist input {
  width: auto;
}

.lecturerlist div {
  display: flex;
  gap: 4px;
  align-items: center;
}

.lecturerlist__image {
  background-color: #0a66c2;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

/* createrecreq summary*/
.editrecreqsum {
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #ffffff;
  position: fixed;
  right: 0;
  z-index: 105;
  box-sizing: border-box;
  transform: translateX(100%);
  transition: all 0.6s cubic-bezier(0.65, 0, 0.35, 1);
  /* visibility: hidden; */
  display: flex;
  flex-direction: column;
}

.editrecreqsum--sec {
  padding: 32px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.editrecreqsum.active {
  transform: translateX(0px);
  transition: all 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

.blackoverlay--req {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1b1b1b;
  position: fixed;
  z-index: 100;
  opacity: 30%;
}

.blackoverlay,
.blackoverlay--req {
  visibility: hidden;
}

.blackoverlay.visible,
.blackoverlay--req.visible {
  visibility: visible;
}

.backbtn {
  margin-bottom: 8px;
}

.editrecreqsum--sec h6 {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 12px;
  color: #9b9b9b;
  font-weight: 500;
}

.editrecreqsum__header-rect {
  display: flex;
  justify-content: center;
  background-color: #deeaf7;
  border-radius: 12px;
  /* padding: 8px 16px; */
  width: 232px;
  height: 32px;
  border: 1px solid #aeceec;
}

.editrecreqsum__header-rect p {
  font-size: 10px;
  font-weight: 600;
  color: #0a66c2;
}

.createrecreq__list {
  background-color: #f6f6f6;
  padding: 12px 16px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createrecreq__list div {
  display: flex;
}

.rec-for__uniandprogramanddeadline {
  background-color: #f6f6f6;
  border: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
  border-radius: 12px;
}

.rec-for__header {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.rec-for__uniandprogramanddeadline div {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.rec-for__uniandprogramanddeadline div label {
  font-size: 12px;
  font-weight: 500;
  color: #9b9b9b;
}

.rec-for__uniandprogramanddeadline div p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.editrecreqsum--sec ul {
  padding: 0;
}

.createrecreq__lectslctd {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.createrecreq__lectslctd--imgdiv {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 600;
}

.lectslctd__img {
  width: 64px;
  height: 64px;
  background-color: #0a66c2;
  border-radius: 50%;
}

.lectslctd__instanddept {
  display: flex;
  width: 100%;
  gap: 16px;
}

.lectslctd__instanddept div {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  gap: 16px;
}

.lectslctd__instanddept div label {
  font-size: 12px;
  color: #9b9b9b;
  font-weight: 500;
}

.recreqsum_btns--div {
  box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.15);
  padding: 24px;
  gap: 8px;
  z-index: 104;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #e7e7e7;
  background-color: #f6f6f6;
}

.recreqsum__btns--submit {
  height: 40px;
  padding: 16px 24px;
  border-radius: 12px;
  font-size: 16px;
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* submission success */
.recreqsubmissionsuccess {
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #ffffff;
  position: fixed;
  right: 0;
  z-index: 106;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: all 0.6s cubic-bezier(0.65, 0, 0.35, 1);
  /* visibility: hidden; */
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.recreqsubmissionsuccess.active {
  transform: translateY(0px);
}

.recreqsubmissionsuccess--sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recreqsubmissionsuccess__header {
  text-align: center;
}

.rocket {
  width: 20px;
  transition: width 0.7s cubic-bezier(0.65, 0, 0.35, 1);
}

.recreqsubmissionsuccess.active .rocket {
  width: 280px;
}

/* .no-underline {
  width: 100%;
} */

.backtohome {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  width: 100%;
}

/* buyreqs */
.buyreqs {
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #ffffff;
  position: fixed;
  right: 0;
  z-index: 106;
  box-sizing: border-box;
  transform: translateX(100%);
  transition: all 0.6s cubic-bezier(0.65, 0, 0.35, 1);
  /* visibility: hidden; */
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.buyreqs.active {
  transform: translateX(0px);
}

.buyreqs h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0;
}

.buyreqs__rate--div {
  background-color: #f6f6f6;
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  padding: 24px;
  color: #9b9b9b;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buyreqs__rate--div p {
  font-size: 16px;
  font-weight: 600;
  color: #1b1b1b;
  margin: 0;
}

.buyreqs__qty {
  margin-top: 32px;
}

.buyreqs__qty h5 {
  margin: 0 0 16px 0;
  font-size: 16px;
  font-weight: 600;
}

.buyreqs__qty--div {
  background-color: #f6f6f6;
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  padding: 0px 24px;
  color: #9b9b9b;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.buyreqs__qty--counter {
  margin: 0;
  display: flex;
  background-color: #e7e7e7;
  padding: 12px 16px;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  color: #1b1b1b;
  gap: 24px;
  /* width: 72px; */
}

.buyreqs__qty--counter p {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.buyreqs__qty--counter--down,
.buyreqs__qty--counter--up {
  height: 24px;
  width: 24px;
  background-color: #d7d7d7;
  border-radius: 50%;
  gap: 24px;
  color: #717171;
  margin: 0;
}

.buyreqs__total {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #444444;
}

.totalcost {
  font-size: 16px;
  font-weight: 600;
  color: #1b1b1b;
}

.buyreqs__btn {
  border-radius: 12px;
  gap: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* purchase successful */
.purchasesuccess__container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  visibility: hidden;
  top: 125px;
  /* z-index: 120; */
  padding-right: 32px;
}

.purchasesuccess__container.checkout {
  visibility: visible;
}

.purchasesuccess {
  padding: 32px;
  display: flex;
  gap: 16px;
  background-color: #deeaf7;
  border: 1px solid #aeceec;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #1b1b1b;
  height: 350px;
  box-sizing: border-box;
}

.purchasesuccess h4 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: #0a66c2;
}

.purchasefailure {
  width: 335px;
}

.purchasefailure__h4 {
  color: #1b1b1b;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.purchasesuccess img {
  width: 180px;
  height: 180px;
}

.purchasesuccess__container button {
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
