.reqdetails {
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #ffffff;
  position: fixed;
  right: 0;
  z-index: 106;
  box-sizing: border-box;
  transform: translateX(100%);
  transition: all 0.6s cubic-bezier(0.65, 0, 0.35, 1);
  display: flex;
  flex-direction: column;
}

.reqdetails.active {
  transform: translateX(0px);
}

.reqdetails__main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.reqdetails__main .backbtn {
  padding: 32px;
  margin-bottom: 0;
}

.reqdetails__headerdiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 32px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.reqdetails__headerdiv--top,
.reqdetails__headerdiv--status {
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerdiv--top--indicator {
  background-color: blue;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  color: #ffffff;
}

.reqdetails__sec {
  flex-grow: 1; /* This will allow the section to take up available space */
  overflow-y: auto; /* Enable scrolling */
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.recommendreq__headerdiv--accept {
  display: flex;
  flex-direction: column;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
  gap: 16px;
}

.recommendreq__headerdiv--switch {
  color: #717171;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.recommendreq__headerdiv--recstatus {
  color: #717171;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.recstatus--indicator {
  padding: 6px 16px;
  border-radius: 12px;
  background-color: #1db954;
  color: #ffffff;
  font-weight: 500;
}

.completedRequest__text.completedRec__text {
  font-size: 18px;
}

.declinedRequest__text.declinedRec__text {
  font-size: 20px;
}

.declinedRequest__sub {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 5px;
}

.undo__btn {
  padding: 8px 16px;
  border-radius: 12px;
  background-color: #ffffff;
  color: #1b1b1b;
  width: fit-content;
  border: 1px solid #deeaf7;
  margin-left: 8px;
  font-weight: 400;
}

.reqdetails__uniandprogramanddeadline {
  background-color: #f6f6f6;
  border: 1px solid #e7e7e7;
  padding: 16px 24px;
  border-radius: 12px;
  box-sizing: border-box;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.reqdetails__header {
  margin: 0;
  font-weight: 600;
}

.reqdetails__uniandprogramanddeadline div label {
  font-size: 12px;
  font-weight: 500;
  color: #9b9b9b;
}

.reqdetails__uniandprogramanddeadline div p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.reqdetails__lectslctd {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reqdetails__lectslctd--imgdiv {
  display: flex;
  align-items: center;
  gap: 8px;
}
.lectslctd--name {
  font-weight: 600;
}

.reqdetails__lectslctd h6,
.reqdetails__background h6 {
  font-weight: 500;
  font-size: 12px;
  color: #9b9b9b;
  margin: 0;
}

.lectslctd__instanddept div {
  width: 50%;
}

.reqdetails__list {
  background-color: #f6f6f6;
  padding: 12px 16px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reqdetails__list div {
  display: flex;
}

.reqdetails__background ul {
  padding: 0;
}

/* Recommendation status */
.completedRequest,
.declinedRequest {
  background-color: #deeaf7;
  border: 1px solid #aeceec;
  padding: 16px;
  gap: 16px;
  border-radius: 12px;
  /* width: 100%; */
  display: flex;
  align-items: center;
}

.declinedRequest {
  background-color: #1b1b1b;
}

.completedRequest__Vector img,
.declinedRequest__Vector img {
  width: 80px;
  height: 80px;
}

.completedRequest__Vector {
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  border-radius: 6px;
}

.completedRequest__text {
  font-size: 24px;
  font-weight: 700;
  color: #0a66c2;
}

.declinedRequest__text {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.resubmit {
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  color: #1b1b1b;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  padding: 4px 16px;
  width: auto;
  margin-top: 8px;
}

/* comments */
.comments__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 16px;
}

.comments__item h4 {
  margin: 0;
}

.comments__item--date {
  font-size: 12px;
  font-weight: 500;
  color: #9b9b9b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.date--line {
  height: 1px;
  flex-grow: 1;
  background-color: #e7e7e7;
}

.comments__item--text {
  font-weight: 500;
  font-size: 14px;
  overflow-wrap: break-word;
}

/* Archive */
.archive__main {
  padding: 24px;
}

.archive__container {
  background-color: #f6f6f6;
  border: 1px solid #e7e7e7;
  border-radius: 12px 12px 0 0;
  padding: 24px 32px;
  height: 100%;
}

.archive__header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--heading {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.container--sub {
  font-size: 14px;
  font-weight: 400;
}

.container--counter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 600;
  height: 50px;
  aspect-ratio: 1;
  background-color: #1b1b1b;
  border-radius: 50%;
}

/* ldprofile */
.ldprofile__heading {
  background-color: #deeaf7;
  border: 1px solid #aeceec;
  color: #0a66c2;
  font-size: 10px;
  font-weight: 500;
  padding: 8px 16px;
  width: fit-content;
  border-radius: 12px;
}

.ldprofile__container {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 85%;
  overflow-y: scroll;
}

.ldprofile__main {
  padding: 24px 32px;
}

.ldprofile__details {
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 500;
}

.ldprofile___titleandnames--container {
  display: flex;
  justify-content: space-between;
}

.ldprofile__details {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.p {
  font-weight: 500;
  font-size: 14px;
  color: #1b1b1b;
}

.edit-details {
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
  width: fit-content;
  padding: 8px 16px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}
