body {
  font-family: "Inter";
  width: 100%;
  height: 2072px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  display: flex;
  height: 100px;
  padding: 0px 64px;
  justify-content: center;
  align-items: center;
  width: calc(100% - 128px);
  flex-direction: row;
  z-index: 99;
}

.header__logo {
  color: #0a66c2;
}

.header__btns {
  position: absolute;
  right: 64px;
  gap: 8px;
  display: flex;
  text-wrap: nowrap;
}

.header__btns--signin,
.btn--blue {
  padding: 12px 24px;
  height: 48px;
  width: 99px;
  border-radius: 12px;
  border-style: none;
  background: none;
}

.header__btns--signin {
  color: #1b1b1b;
  font-size: 16px;
  text-wrap: nowrap;
}

.btn--blue {
  background-color: #0a66c2;
  color: white;
  font-size: 16px;
  text-wrap: nowrap;
}

.main-body {
  height: 1320px;
  background: linear-gradient(#ffffff4d, #0a66c24d);
  display: flex;
  flex-direction: column;
  width: calc(100% - 0px);
  align-items: center;
}

.main-body__content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  margin-top: 120px;
}

.main-body__img--left {
  position: absolute;
  height: 350px;
  top: 120px;
}

.main-body__img--right {
  position: absolute;
  height: 350px;
  top: 220px;
  right: 0;
}

.main-body__title {
  max-width: 735px;
  font-size: 64px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 18px;
}

.main-body__highlight {
  color: #0a66c2;
}

.strokevector {
  height: 20px;
  width: 300px;
}

.main-body__secondaryText {
  text-align: center;
  font-size: 18px;
}

.main-body__btns {
  display: flex;
  gap: 16px;
}

.main-body__btns--GetStarted {
  width: 160px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  font-size: 16px;
}

.main-body__btns--signin {
  width: 160px;
  height: 56px;
  background-color: #ffffff;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.howitWorks {
  /* background-color: red; */
  border: red 1px solid;
  width: calc(100% - 128px);
  height: 700px;
  margin-top: 100px;
  position: relative;
  overflow-x: hidden;
  padding: 0px 64px;
  display: flex;
}

.howitWorks__img--pattern {
  /* height: 50%; */
  width: 120%;
  position: absolute;
  bottom: 0px;
  opacity: 0.2;
}

.howitWorks__title {
  /* max-width: 405px; */
  font-size: 64px;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 42.88px;
}

.dividericon img {
  height: 218px;
}

.cardnumberings {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 700;
  font-size: 28px;
}
